.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  margin-bottom: 5vh;
}

.App-link {
  color: #61dafb;
}

.App-body {
  margin-left: 10%;
  margin-right: 10%;
}

.user-id-field {
  padding-right: 15px;
}

.add-role {
  margin-top: 100px;
}

.add-role button {
  margin-left: 10px;
}